
	<dl class="author">
		<dt ng-show='loaded'>本周推荐</dt>
		<dd ng-repeat="author in rec.authors">
			<div class="avatar">
				<img ng-src="{{author.avatar}}" alt="">
			</div>
			<div class="info">
				<h5>{{author.name}}</h5>
				<p>{{author.alt}}</p>
			</div>
		</dd>
		<dt ng-show="loaded">热门作者</dt>
		<dd ng-repeat="author in all.authors">
			<div class="avatar">
				<img ng-src="{{author.avatar}}" alt="">
			</div>
			<div class="info">
				<h5>{{author.name}}</h5>
				<p>{{author.alt}}</p>
			</div>
		</dd>
	</dl>